[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/tinygltf"]
	path = lib/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/mtlpp"]
	path = lib/mtlpp
	url = https://github.com/Spo1ler/mtlpp.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/SDL_iOS"]
	path = lib/SDL_iOS
	url = git@github.com:Spo1ler/SDL_iOS.git
